.language-switcher {
  display: flex;
  flex-direction: row;

  list-style-type:none;
}

.language-switcher button {
  background-color: transparent;
  border: none;
}

.language-switcher img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;

  cursor: pointer;
}

.language-switcher img:hover {
  transition: 600ms;
  transform: rotate(360deg);
}
