.tab {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.tab h3 {
  cursor: pointer;
  font-weight: bold;
}

.unactive-tab {
  opacity: 0.65;
}

.tab h4:hover {
  opacity: 1;
}

.card {
  display: flex;

  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;

  cursor: pointer;
}

.card:hover {
  background-color: #f5f5f520;
  border-radius: 1rem;
}

.card:hover h3,
.card:hover h4,
.card:hover p {
  scale: 1.007;
}

.job {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.job-date {
  width: 3rem;
  padding-top: 0.3rem;
  font-size: small;
  opacity: 0.65;
}

.job-details {
  width: fit-content;
  opacity: 0.65;
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 0.5rem;
  margin-top: 0.75rem;
}

.tag {
  padding: 0.6rem 1rem;

  font-size: small;
  color: #8cc6e5;
  background-color: #8cc6e520;
  border-radius: 5em;
}

.resume {
  margin-right: 1rem;

  text-align: right;
  opacity: 0.65;
}

.arrow {
  margin-left: 0.5rem;
}
