.group {
  display: flex;
  flex-direction: row;

  text-align: center;
  overflow: hidden;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 30%;
  height: 20vh;
  margin: 0.5rem;

  background-position: center;
  background-size: cover;
  background-color: rgba(75, 75, 75, 0.8) !important;
  border-radius: 2vw;

  cursor: pointer;
  transition: 0.8s;

  text-shadow: 1px 1px 2px #000;
}

.item-title {
  visibility: hidden;

  margin-top: 1rem;
}

.item-description {
  visibility: hidden;
  transition-delay: 0.8s;

  margin: 1rem 10px 0.5rem;
}

.item-link {
  visibility: hidden;
  transition-delay: 0s;

  margin-top: 2rem;
}

.item:hover .item-title {
  visibility: visible;
}

@media (max-width: 1120px) {
  .item-title {
    visibility: visible;
  }
}
