.menu {
  margin-top: 2rem;
}

.menu ul {
  margin-bottom: 0.5rem;
}

.menu ul:hover {
  cursor: pointer;
  opacity: 1;
}

.inactive-link {
  opacity: 0.6;
}

.active-link {
  margin-left: 0.5rem;
  opacity: 1;
}
